<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiedian.app" >

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChartActivity"
            android:label="@string/title_activity_chart" >
        </activity>
        <activity
            android:name=".RemindActivity"
            android:label="@string/title_activity_remind" >
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name=".PointActivity"
            android:label="@string/title_activity_point" >
        </activity>
        <activity
            android:name=".TrackActivity"
            android:label="@string/title_activity_track" >
        </activity>
        <activity
            android:name=".BeijingActivity"
            android:label="@string/title_activity_beijing" >
        </activity>
        <activity
            android:name=".ShanghaiActivity"
            android:label="@string/title_activity_shanghai" >
        </activity>
        <activity
            android:name=".ScanActivity"
            android:label="@string/title_activity_scan" >
        </activity>

        <service android:name="com.xiedian.service.BluetoothLeService" android:enabled="true"/>
    </application>

</manifest>
